*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balloons {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.balloons img {
    position: absolute;
    width: 60px;
    height: auto;
    bottom: -30vh;
    user-select: none;
    cursor: grab;
    animation: flying 15s linear infinite;
    pointer-events: auto;
    will-change: transform;
}

.balloons img:nth-child(1) {
    left: 23%;
    animation-delay: 0s;
}
.balloons img:nth-child(2) {
    left: 85%;
    animation-delay: 2s;
    animation-duration: 12s;
}
.balloons img:nth-child(3) {
    left: 73%;
    animation-delay: 4s;
}
.balloons img:nth-child(4) {
    left: 95%;
    animation-delay: 0s;
    animation-duration: 18s;
}
.balloons img:nth-child(5) {
    left: 12%;
    animation-delay: 2s;
    animation-duration: 12s;
}
.balloons img:nth-child(6) {
    left: 2%;
    animation-delay: 4s;
}

@keyframes flying {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200vh);
    }
}